<div class="mb-10">
<nav
    class="bg-indigo-900 dark:bg-indigo-900 backdrop-blur-lg bg-opacity-90 border-b border-white-700 fixed w-full z-20 top-0 start-0">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="../../../assets/images/logo-navbar.png" class="h-8" alt="Logo">
        </a>
        <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
            <a routerLink="productos"
                class="text-white bg-indigo-400 hover:bg-indigo-500 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:focus:ring-indigo-800">
                Productos
            </a>
            <button data-collapse-toggle="navbar-sticky" type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white rounded-lg md:hidden hover:bg-indigo-800 focus:outline-none focus:ring-2 focus:ring-indigo-500 dark:text-white dark:hover:bg-indigo-700 dark:focus:ring-indigo-600">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>
        </div>

        <div class="hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
            <ul
                class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-indigo-700 rounded-lg bg-indigo-900 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-indigo-900">
                <li>
                    <a routerLink="home"
                        class="block py-2 px-3 text-white bg-transparent rounded-sm md:p-0 hover:text-indigo-400">Home</a>
                </li>
                <li>
                    <a routerLink="nosotros"
                        class="block py-2 px-3 text-white rounded-sm hover:bg-indigo-700 md:hover:bg-transparent md:border-0 md:hover:text-indigo-400 md:p-0">Nosotros</a>
                </li>
                <li>
                    <a routerLink="productos"
                        class="block py-2 px-3 text-white rounded-sm hover:bg-indigo-700 md:hover:bg-transparent md:border-0 md:hover:text-indigo-400 md:p-0">Productos</a>
                </li>
                <li>
                    <a routerLink="bodega"
                        class="block py-2 px-3 text-white rounded-sm hover:bg-indigo-700 md:hover:bg-transparent md:border-0 md:hover:text-indigo-400 md:p-0">Bodega</a>
                </li>
                <li>
                    <a routerLink="contactos"
                        class="block py-2 px-3 text-white rounded-sm hover:bg-indigo-700 md:hover:bg-transparent md:border-0 md:hover:text-indigo-400 md:p-0">Contactos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</div>