<section class="bg-white dark:bg-gray-900">
    <div class="py-12 px-6 mx-auto max-w-screen-xl text-center lg:py-16">
        <h1
            class="mb-6 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
            Explora Nuestra Colección de Tecnología
        </h1>
        <p class="mb-8 text-lg font-normal text-gray-600 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-300">
            Descubre todos los productos que tenemos para ti
        </p>
        <a href="carrito">
            <button type="button"
                class="text-white bg-purple-700 hover:bg-purple-800 focus:outline-none focus:ring-4 focus:ring-purple-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">Ver carrito</button>
            </a>
        <app-tabla-ventas></app-tabla-ventas>
    </div>
</section>

<app-footer></app-footer>