<!-- Sección de información antes de la tabla -->
<section class="bg-white dark:bg-gray-900">
    <div class="py-12 px-6 mx-auto max-w-screen-xl text-center lg:py-16">
        <h1 class="mb-6 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
            Explora Nuestra Colección de Tecnología
        </h1>
        <p class="mb-8 text-lg font-normal text-gray-600 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-300">
            Descubre nuestra selección de productos de última generación. Desde consolas de videojuegos hasta dispositivos de audio 
            y cámaras, tenemos todo lo que necesitas para disfrutar de la mejor experiencia tecnológica. Explora nuestra tienda y 
            encuentra el dispositivo ideal para ti.
        </p>
        <p class="mb-10 text-lg font-normal text-gray-600 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-300">
            Consulta la siguiente tabla para conocer más detalles sobre nuestros productos disponibles y sus especificaciones. 
            ¡Haz clic en "Ver producto" para obtener más información y adquirirlo!
        </p>
    </div>
</section>

