<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">ID</th>
                <th scope="col" class="px-6 py-3">Producto</th>
                <th scope="col" class="px-6 py-3">Tipo</th>
                <th scope="col" class="px-6 py-3">Precio</th>
                <th scope="col" class="px-6 py-3">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for (item of productos; track item) {
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{item.id}}
                </td>
                <td class="px-6 py-4">
                    {{item.producto}}
                </td>
                <td class="px-6 py-4">
                    {{item.tipo}}
                </td>
                <td class="px-6 py-4">
                    {{item.precio}}
                </td>
                <td class="px-2 py-4 flex space-x-0.5">
                    <button class="px-3 py-2 text-white bg-red-500 hover:bg-red-600 rounded-lg"
                        (click)="eliminar(item.id)">
                        Eliminar
                    </button>
                    <button class="px-3 py-2 text-white bg-green-500 hover:bg-green-600 rounded-lg"
                        [routerLink]="['/producto', item.id]">
                        Actualizar
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>