<section class="bg-white dark:bg-gray-900">
    <div class="py-12 px-6 mx-auto max-w-screen-xl text-center lg:py-16">
        <section class="bg-gray-900 flex items-center justify-center min-h-screen px-6">
            <div class="bg-gray-800 p-6 md:p-8 rounded-lg shadow-lg text-white w-full max-w-md">
                <h2 class="text-3xl font-bold text-center mb-6">¡Regístrate!</h2>

                <form (ngSubmit)="register(form)" #form="ngForm">
                    <!-- Campo de Correo -->
                    <div class="mb-4">
                        <label class="block mb-2 text-sm font-medium text-gray-300">Ingresar Correo</label>
                        <input type="email" name="email" [(ngModel)]="email" required
                            class="bg-gray-700 border border-gray-600 text-white text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5">
                    </div>

                    <!-- Campo de Contraseña -->
                    <div class="mb-4">
                        <label class="block mb-2 text-sm font-medium text-gray-300">Ingrese Contraseña</label>
                        <input type="password" name="password" [(ngModel)]="password" required
                            class="bg-gray-700 border border-gray-600 text-white text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5">
                    </div>

                    <!-- Botón de Registro -->
                    <button type="submit"
                        class="w-full text-white bg-indigo-500 hover:bg-indigo-600 focus:ring-4 focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                        Registrarse
                    </button>
                </form>

                <!-- Mensaje de redirección al login -->
                <p class="text-center text-sm mt-4">
                    ¿Ya tienes una cuenta?
                    <a routerLink="/login" class="text-blue-400 hover:underline">Inicia sesión aquí</a>
                </p>
            </div>
        </section>

    </div>

</section>

<app-footer></app-footer>